$scale-factor: 1.5;
$card-width: 4.840vw * $scale-factor;
$card-height: 6.443vw * $scale-factor;

body {
  background: #fefefe;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Apple Symbols';
  src: url('./assets/fonts/subset-applesymbols.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.solitaire {
  padding: 3vh 0;
  height: 94vh;
  margin: 0;
  user-select: none;
}

.card {
  background: #fff;
  display:inline-block;
  font-family: 'Apple Symbols';
  font-size: 8vw * $scale-factor;
  text-align: center;
  transition: opacity 150ms ease-in;
  width: $card-width;
  line-height: 8.123vw * $scale-factor;
  padding-top: .0025em;

  &.hidden {
    background: #eee;
  }
  &.red { 
    color: #f00;
  }
  &.flash-appear, &.flash-enter {
    opacity: 0.5;
    transform: scale(1.03, 1.03);
    &.flash-appear-active,
    &.flash-enter-active {
      opacity: 1;
      transform: scale(1.0, 1.0);
      transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    }
    .drag-preview &, &.hidden {
      opacity: 1;
      transition: none;
      transform: scale(1.0, 1.0);
    }
  }
}

// card containers
.stock, .waste, .tableau, .foundation {
  border-radius: 0.16vw * $scale-factor;
  box-shadow: inset 0 0 30px #eee;
  min-height: $card-height;
  min-width: $card-width;
  margin: 0 0.436vw * $scale-factor 0.9vw * $scale-factor;
  background: #eee;

  &.highlighted {
    background: #ddd;
    box-shadow: inset 0 0 4px #666;
    .card-container:last-child {
      transform: scale(1.1, 1.1);
      box-shadow: 7px 0px 33px -8px #ccc;
    }
  }
}

.stock {
  cursor: pointer;
}
.card-container {
  border-radius: 0.19vw * $scale-factor;
  height: $card-height;
  width: $card-width;
  overflow: hidden;
  position: relative;
  transition: margin-top 100ms ease-in-out, transform 80ms ease-out;

  @for $i from 1 through 7 {
    &:nth-child(#{$i}) {
      transition: margin-top ($i * 150ms) ease-in-out, transform 50ms ease-out;
    }
  }

  & + .card-container {
    margin-top: -4.9vw * $scale-factor;
  }
  // source
  &.dragging,
  &.dragging ~ .card-container {
    .card {
      background: #eee;
      opacity: 0.6;
    }
  }
  // drag preview
  &.drag-preview {
    transform: scale(1.1, 1.1);
    box-shadow: 7px 0px 33px -8px #ccc;
    opacity: 1;
  }
}

// main layout
.top, .tableaux {
  display: flex;
  width: 60vw;
  margin: 0 auto;
}
.top, .reserve, .foundations {
  display: flex;
  flex-direction: row;
}
.top {
  margin: 2vw * $scale-factor auto 1vw * $scale-factor;
  .foundations {
    margin-left: auto;
  }
}

// foundations
.foundations {
  height: $card-height;
  .foundation {
    transition: all 200ms ease-out;
    position: relative;
    .card-container {
      position: absolute;
      margin: 0;
      top: 0;
    }
    &:last-child {
      margin-right: 0.26vw * $scale-factor;
    }
  }
}

// tableaux
.tableaux {
  align-items: flex-start;
  justify-content: center;
  .tableau {
    flex-direction: column;
    margin:0 0.5vw * $scale-factor;
    min-height: $card-height;
    width: $card-width;
    .card-container {
      box-shadow: 0 -3px 5px -4px rgba(70,70,70,0.5);
      &:first-child {
        box-shadow: none;
      }
    }
    .slide-appear, .slide-enter {
      .card-container + .card-container {
        margin-top: -$card-height;
      }
      .slide-appear-active,
      .slide-enter-active {
        .card-container {
          margin-top: inherit;
        }
      }
    }
  }
}

// drag layer
.drag-layer {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

footer {
  width: 100%;
  background: #fff;
  text-align: center;
  border-top: 1px solid #eee;
  padding: 5px;
  position: fixed;
  bottom: 0;
  color: #555;
  font-size: 11px;

  a {
    color: inherit;
  }
}
